#statsTable {
    margin: auto;
    margin-top: 30vh;
    text-align: center;
    row-gap: 5px;
    font-size: 2.5vw;
    border-spacing: 0;
}

#statsTable th, #statsTable td {
    width: 15vw;
    border: 1px solid black;
}

#statsTable tr:last-child td:first-child {
    border: 1px solid black;
    border-bottom-left-radius: 10px;
}

#statsTable tr:last-child td:last-child {
    border: 1px solid black;
    border-bottom-right-radius: 10px;
}

#statsTable tr:first-child th:first-child {
    border: 1px solid black;
    border-top-left-radius: 10px;
}

#statsTable tr:first-child th:last-child {
    border: 1px solid black;
    border-top-right-radius: 10px;
}

#userStatsPopup div {
    display: flex;
    flex-direction: column;
}

#logoutButton {
    text-align: center;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: -10vh;
}